<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="bg">

      <div class="container">
        <div class="centerarea">
          <h1 class="logo">Tower</h1>
          <h1 class="solgan">团队协作本来就应该这么简单</h1>
          <p><button class="btn btn-primary">免费注册</button></p>
          <p><button class="btn">登录</button></p>
        </div>
      </div>

    </div>
  </body>
</html>
