<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="background-color">
      <div class="container">
        <div class="sign-in-area">
          <h1 class="logo">Tower</h1>
          <div class="sign-box">
            <h3 class="sign-title">登录</h3>
            <p><input type="email" class="form-control" placeholder="登录邮箱"></p>
            <p><input type="password" class="form-control" placeholder="密码"></p>
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label">下次自动登录</label>
	      <button class="btn btn-link sign-link forget-button">忘记密码了？</button>
	    </div>
	    <p><button class="btn btn-primary">登录</button></p>
	    <p><button class="btn btn-link sign-link">没有账号？立即注册</button></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
