<!DOCTYPE html>
<html class="single-page-html">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="single-page-body">
    <div class="single-page-background">
      <div class="flex-center">
        <h1 class="logo">Tower</h1>
        <div class="sign-box">
          <%= form_for(:password_reset, url: password_resets_path) do |f| %>
            <h3 class="sign-title">重新设置密码</h3>
            <p><%= f.email_field :email, class: "form-control", placeholder: "请填写登录邮箱" %></p>
            <p><%= f.submit "发送密码重设邮件", class: "btn btn-primary click-button" %></p>
          <% end%>
        </div>
      </div>
    </div>
  </body>
</html>
