<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="phone-page-box col-xs-12">
      <div class="phone-page-top-bar flex-vcenter">
        <span class="phone-top-name">项目</span>
        <div class="flex-align-right">
          <span class="glyphicon glyphicon-search phone-top-item-icon"></span>
          <span class="glyphicon glyphicon-th-list phone-top-item-icon"></span>
        </div>
      </div>

      <div class="phone-page-scroll-area">
        <ul id="phoneSortableContainer">
          <% Team.find_by_hashid(params[:team_id]).projects.each do |project| %>
            <li class="phone-project-item-box flex-vcenter">
              <span class="glyphicon <%= project.icon %> phone-project-icon"></span>
              <span class="phone-project-item-name"><%= project.name %></span>
            </li>
	  <% end %>
	</ul>
      </div>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
