<body>
  <div class="phone-page-box col-xs-12">
    <div class="phone-page-top-bar flex-vcenter">
      <%= link_to team_projects_url(current_team.id), class: "flex-vcenter" do %>
        <span class="glyphicon glyphicon-menu-left phone-top-item-icon"></span>
      <% end %>
      <span class="phone-top-title">
        <%= Project.find_by_hashid(params[:id]).name %>
      </span>
      <%= link_to "#", class: "flex-align-right" do %>
        <span class="glyphicon glyphicon-plus phone-top-item-icon"></span>
      <% end %>
    </div>
  </div>
</body>
