<li class="mission-new-form-item">
  <div class="mission-new-form"
       data-target="mission.missionNewForm">
    <div class="flex-vcenter">
      <label class="mission-input-line"></label>
      <input type="text"
             class="edit-input"
             placeholder="新的任务"
             data-action="keydown->mission#enterMissionNew">
      <button type="button" class="btn mission-distributor">未指派</button>
    </div>
    <div>
      <button class="btn-sm mission-new-submit-button"
              data-action="mission#clickMissionSubmitButton">
        添加任务
      </button>
      <a href="#"
         class="link-button-small"
         data-target="mission.missionCancelButton"
         data-action="mission#clickMissionCancelButton">
        取消
      </a>
    </div>
  </div>
</li>
<li>
  <a href="#"
     class="mission-add-button"
     data-target="mission.missionNewButton"
     data-action="mission#clickMissionNewButton">
    添加新任务
  </a>
</li>
