a:link {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    padding: 0;
    list-style-type: none;
}

textarea {
    resize: none;
}

.btn {
    box-shadow: none !important;
    outline: none !important;
}

.btn:focus,
.btn:active {
    box-shadow: none !important;
    outline: none !important;
}
