@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    height: 100%;
}

.centerarea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
}

.logo {
    font-size: 600%;
    color: #fff;
    font-weight: bold;
    opacity: 0.9;
}

.solgan {
    font-size: 250%;
    color: #fff;
    font-weight: bold;
    opacity: 0.9;
    margin-bottom: 100px;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 256px;
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    background-color: #3ccefd;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    border-color: none;
}

.btn-primary:hover {
    background: #3cdefd;
    color: rgba(255, 255, 255, 0.9);
    border-color: none;
}

.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:focus {
    background: #3cbefd;
    color: rgba(255, 255, 255, 0.9);
    border-color: none;
}

.btn-link {
    color: #fff;
    font-size: 16px;
}

.btn-link:hover {
    color: #3cdefd;
}

.btn-link:active,
.btn-link:active:hover,
.btn-link:active:focus,
.btn-link:focus {
    color: #3cbefd;
}
