@import "bootstrap-sprockets";
@import "bootstrap";

:root {
    // Color variables.
    --background-color: #f4f7ed;
    --logo-color: #5bc4c7;
    --focus-color: #3cbefd;
    --hover-color: #3cbefd;
    --button-color: #3ccefd;
    --link-text-color: #aaa;
    --logo-text-color: #fff;
}

// Home page CSS.
.home-background {
    /* The image used */
    background-image: url("background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
}

.home-logo {
    font-size: 600%;
    color: var(--logo-text-color);
    font-weight: bold;
    opacity: 0.9;
}

.solgan {
    font-size: 250%;
    color: var(--logo-text-color);
    font-weight: bold;
    opacity: 0.9;
    margin-bottom: 100px;
}

// Single page CSS.
.single-page-body,
.single-page-html {
    height: 100%;
}

.single-page-background {
    background-color: var(--background-color);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.single-page-container {
    position: relative;
    height: 100%;
}

.sign-title {
    margin-bottom: 20px;
}

.sign-button {
    margin-top: 20px;
}

.sign-box {
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 50px #eeeeee;
}

.sign-in-area,
.sign-up-area {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
}

.remember-me {
    float: left;
}

.forget-button {
    float: right;
}

.sign-error {
    width: 256px;
}

.sign-link {
    color: var(--link-text-color);
    font-size: 12px;
}

.sign-link:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.sign-link:active,
.sign-link:active:hover,
.sign-link:active:focus,
.sign-link:focus {
    color: var(--focus-color);
}

.no-underline-link:hover {
    text-decoration: none;
}

// Generic page CSS.
.logo {
    font-size: 450%;
    color: var(--logo-color);
    font-weight: bold;
    margin-bottom: 40px;
}

.click-button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 256px;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    background-color: var(--button-color);
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    border-color: var(--button-color);
}

.btn-primary:hover {
    background: var(--hover-color);
    color: rgba(255, 255, 255, 0.9);
    border-color: var(--hover-color);
}

.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:focus {
    background: var(--focus-color);
    color: rgba(255, 255, 255, 0.9);
    border-color: var(--focus-color);
}

.btn-link {
    color: var(--logo-text-color);
    font-size: 16px;
}

.btn-link:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.btn-link:active,
.btn-link:active:hover,
.btn-link:active:focus,
.btn-link:focus {
    color: var(--focus-color);
}

.form-control:focus{
    border-color: var(--focus-color);
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-check-label {
    font-weight: normal;
    font-size: 12px;
    color: var(--link-text-color);
}

// Desktop page CSS.
.content-page-body {
    background-color: var(--background-color);
}

.team-name {
    font-size: 20px;
    color: var(--logo-color);
    font-weight: 500;
}

.team-name:hover {
    color: var(--logo-color);
    text-decoration: none;
}

.team-name:active,
.team-name:active:hover,
.team-name:active:focus,
.team-name:focus {
    color: var(--logo-color);
}

.top-header {
    width: 990px;
}

.top-header-item {
    font-size: 16px;
    color: var(--link-text-color);
    }

.top-header-item:hover {
    color: var(--link-text-color);
    text-decoration: none;
}

.top-header-item:active,
.top-header-item:active:hover,
.top-header-item:active:focus,
.top-header-item:focus {
    color: var(--link-text-color);
}

.top-header-search {
    background-color: var(--background-color);
    height: 24px;
    text-align: center;
    margin-top: 15px;
}

.top-search-bar-group {
    width: 200px;
}

.top-search-bar-input {
    background-color: var(--background-color);
}

.top-search-bar-button {
    background-color: var(--background-color);
}

// Phone page CSS.
.phone-top-bar {
    background-color: var(--logo-color);
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 54px;
}

.phone-top-left-area {
    float: left;
    text-align: center;
    margin: auto;
    display: table;
    height: 100%;
}

.phone-top-right-area {
    float: right;
    text-align: center;
    margin: auto;
    display: table;
    height: 100%;
}

.phone-top-name {
    font-size: 18px;
    font-weight: bold;
    color: var(--logo-text-color);
    display: table-cell;
    vertical-align: middle;
    padding-top: 6px;
    padding-left: 24px;
}

.phone-top-item-icon {
    font-size: 18px;
    color: var(--logo-text-color);
    display: table-cell;
    vertical-align: middle;
    padding-left: 24px;
    padding-right: 24px;
}

.phone-bottom-tab {
    // Make tab split width with 5 column and keep center of tab area.
    float: left;
    text-align: center;
    width: 20%;
    padding-top: 3px;
}

.phone-bottom-item-text {
    font-size: 12px;
    color: #666;
}

.phone-bottom-item-icon {
    font-size: 20px;
}