@import "bootstrap-sprockets";
@import "bootstrap";
@import "base";

$background-color: #f4f7ed;
$button-color: #3ccefd;
$focus-color: #3cbefd;
$hover-color: #3cbefd;
$link-text-color: #666;
$logo-color: #5bc4c7;
$logo-text-color: #fff;
$project-splitter-color: #BDC8CB;
$button-border: 1px solid rgba(0, 0, 0, 0.1);
$button-radius: 4px;
$check-button-radius: 5px;
$top-bar-shadow: #aaa;
$bottom-bar-shadow: #ccc;
$tooltip-color: #FFFCBB;
$menu-color: #ffffff;
$right-menu-normal-button-normal-color: #5bc4c7;
$right-menu-normal-button-hover-color: #69E3E6;
$right-menu-normal-button-focus-color: #5bc4c7;
$right-menu-delete-button-normal-color: #BF5D57;
$right-menu-delete-button-hover-color: #E67069;
$right-menu-delete-button-focus-color: #BF5D57;
$action-button-normal-color: #F13A3E;
$action-button-hover-color: #FF696D;
$action-button-focus-color: #F13A3E;
$arrow-size: 10px;

$phone-page-bottom-bar-height: 54px;
$phone-page-top-bar-height: 54px;

.home-logo {
    font-size: 600%;
    font-weight: bold;
    color: $logo-text-color;
    opacity: 0.9;
}

.solgan {
    font-size: 260%;
    font-weight: bold;
    color: $logo-text-color;
    opacity: 0.9;
    margin-bottom: 140px;
}

.sign-box {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: $button-border;
    border-radius: $button-radius;
    box-shadow: 0px 10px 50px #eeeeee;
}

.no-underline-link:hover {
    text-decoration: none;
}

@function is-number($value) {
    @return type-of($value) == 'number';
}

@function is-time($value) {
    @return is-number($value) and index('ms' 's', unit($value)) != null;
}

@function is-duration($value) {
    @return is-time($value);
}

@function is-angle($value) {
    @return is-number($value) and index('deg' 'rad' 'grad' 'turn', unit($value)) != null;
}

@function is-frequency($value) {
    @return is-number($value) and index('Hz' 'kHz', unit($value)) != null;
}

@function is-integer($value) {
    @return is-number($value) and round($value) == $value;
}

@function is-relative-length($value) {
    @return is-number($value) and index('em' 'ex' 'ch' 'rem' 'vw' 'vh' 'vmin' 'vmax', unit($value)) != null;
}

@function is-absolute-length($value) {
    @return is-number($value) and index('cm' 'mm' 'in' 'px' 'pt' 'pc', unit($value)) != null;
}

@function is-percentage($value) {
    @return is-number($value) and unit($value) == '%';
}

@function is-length($value) {
    @return is-relative-length($value) or is-absolute-length($value);
}

@function is-resolution($value) {
    @return is-number($value) and index('dpi' 'dpcm' 'dppx', unit($value)) != null;
}

@function is-position($value) {
    @return is-length($value) or is-percentage($value) or index('top' 'right' 'bottom' 'left' 'center', $value) != null;
}

// Generic page CSS.
@mixin text-link-button-mixin($size, $margin: 10px, $normal-color: $link-text-color, $hover-color: $hover-color, $focus-color: $focus-color) {
    font-size: $size;
    color: $normal-color;
    margin-left: $margin;
    margin-right: $margin;
    font-weight: 350;

    &:hover {
	color: $hover-color;
	text-decoration: none;
    }

    &:active,
    &:active:hover,
    &:active:focus,
    &:focus {
	color: $focus-color;
    }
}

@mixin submit-button-mixin($margin-left, $margin-vertical: 10px, $font-size: 13px, $height: 28px) {
    font-size: $font-size;
    font-weight: 300;
    color: #fff;
    background-color: $button-color;
    height: $height;
    margin-top: $margin-vertical;
    margin-bottom: $margin-vertical;
    margin-left: $margin-left;
    border: $button-border;
    border-radius: $button-radius;
    border-color: $button-color;
    box-shadow: none !important;
    outline: none !important;

    &:hover {
	color: #fff;
	background-color: $hover-color;
	border-color: $hover-color;
    }
}

@mixin action-button-mixin($normal-color, $hover-color, $focus-color) {
    color: $normal-color;
    width: 200px;
    border: 1px solid $normal-color;
    border-radius: $button-radius;

    &:hover {
	color: $hover-color;
	background: #fff;
	width: 200px;
	border: 1px solid $hover-color;
	border-radius: $button-radius;
    }

    &:active,
    &:active:hover,
    &:active:focus,
    &:focus {
	color: $focus-color;
	background: #fff;
	width: 200px;
	border: 1px solid $focus-color;
	border-radius: $button-radius;
    }
}

@mixin textarea-mixin($height, $margin-left: 0px, $rows: -1) {
    padding: 10px;
    resize: none;
    width: 550px;

    @if is-absolute-length($height) {
	height: $height;
    } @else {
	rows: $height;
    }
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: $margin-left;
    border: $button-border;
    border-radius: $button-radius;
}

@mixin menu-mixin($background, $text-align: center, $default-z-index: 9999, $padding-top: 10px) {
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, .5));
    box-sizing: border-box;
    display: none;
    position: absolute;
    font-size: 13px;
    font-weight: 350;
    background: $background;
    width: max-content;
    height: auto;
    padding-top: $padding-top;
    border-radius: 3px 3px 3px 3px;
    text-align: $text-align;
    z-index: $default-z-index;
}

@mixin arrow-menu-mixin($background, $arrow-color, $arrow-offset,  $text-align: center, $default-z-index: 9999, $arrow-vertical: true) {
    @include menu-mixin($background, $text-align, $default-z-index, $arrow-size);

    &:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;

	@if $arrow-vertical {
	    top: -$arrow-size;
	    bottom: 0;
	    left: $arrow-offset;

	    border-bottom: $arrow-size solid $arrow-color;
	    border-left: $arrow-size solid transparent;
	    border-right: $arrow-size solid transparent;
	} @else {
	    left: -$arrow-size;
	    bottom: 0;
	    top: $arrow-offset;

	    border-right: $arrow-size solid $arrow-color;
	    border-top: $arrow-size solid transparent;
	    border-bottom: $arrow-size solid transparent;
	}
    }
}

@mixin arrow-menu-item-mixin($margin-vertical: 0px, $enable-hover: true) {
    font-size: 13px;
    color: #222;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: $margin-vertical;
    margin-bottom: $margin-vertical;
    overflow: hidden;           // make parent div expand height when have 'float' child div in it

    @if $enable-hover {
	&:hover {
	    background: rgb(245, 245, 245);
	}
    }
}

@mixin splitter-mixin($background: #eee, $height: 1px, $width: 100%) {
    background: $background;
    width: $width;
    height: $height;
}

@mixin input-mixin($font-size: 15px, $margin-left: 10px) {
    font-size: $font-size;
    font-weight: 350;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
    margin-left: $margin-left;
}

@mixin margin-vertical-mixin($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

@mixin menu-item-mixin($size, $color) {
    display: block;
    font-size: $size;
    font-weight: 350;
    color: $color;
    text-align: left;
}

.link-button {
    @include text-link-button-mixin(14px)
}

.link-button-small {
    @include text-link-button-mixin(12px)
}

.link-button-big {
    @include text-link-button-mixin(16px)
}

.submit-button-width {
    width: 80px;
}

.sign-button-width {
    width: 256px;
}

.sign-button-vertical-margins {
    @include margin-vertical-mixin(5px);
}

.margin-bottom-normal {
    margin-bottom: 20px;
}

.margin-top-normal {
    margin-top: 20px;
}

.margin-left-normal {
    margin-left: 20px;
}

.remove-submit-btn-style {
    background: none;
    border: none;
    outline: none;
}

.alert {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 9999;
}

.flex-vcenter {
    display: flex;
    height: 100%;
    align-items: center;
}

.flex-vcenter-columns {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.flex-column-center {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.flex-hcenter {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.flex-align-right {
    margin-left: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.logo {
    font-size: 450%;
    font-weight: bold;
    color: $logo-color;
    margin-bottom: 40px;
}

.btn-primary {
    @include submit-button-mixin(0px, 10px, 18px, 40px);
}

.btn-link {
    @include text-link-button-mixin(16px, 0px, $logo-text-color)
}

#loading-dialog,
.hide,
.comment-edit-form-item,
.mission-save-form,
.mission-comment-button-area,
.mission-list-new-form,
.mission-edit-form-item,
.mission-edit-form-header {
    display: none;
}

.mission-edit-textarea {
    @include textarea-mixin(150px, 40px);
}

.form-control:focus {
    border-color: $focus-color;
    box-shadow: none;
}

.form-check-label {
    font-size: 12px;
    color: $link-text-color;
}

// Desktop page CSS.
.fill-background-color {
    background-color: $background-color;
}

.new-mission-title {
    font-size: 20px;
    font-weight: bold;
}

.project-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-right: auto;
}

.project-title {
    font-size: 26px;
    font-weight: 400;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.project-summary {
    font-size: 16px;
    font-weight: 400;
    color: #999;
    margin-top: 10px;
    margin-bottom: 20px;
}

.project-setting {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-setting-icon {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
}

.project-setting-name {
    color: #666;
}

.project-splitter {
    @include splitter-mixin(
	linear-gradient($project-splitter-color 50%, white 50%, white 90%, $project-splitter-color 90%),
	10px,
	100%
    );

    margin-bottom: 30px;
}

.form-title {
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 40px;
}

.bread-crumbs-big {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 18px;
    color: #999;
    background-color: rgba(250, 250, 250, 1);
    width: 880px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    border: $button-border;
    border-radius: $button-radius;
    border-bottom-style: none;
    box-shadow: 0px 10px 50px #eee;
    cursor: pointer;
    overflow: hidden;           // make parent div expand height when have 'float' child div in it
}

.inline-block {
    display: inline-block;
}

.break-inline-block {
    display: block;
}

.bread-crumbs-big:hover {
    background-color: #fff;
}

.min-board-height {
    min-height: 600px;
}

.board-box {
    background-color: #fff;
    width: 900px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    border: $button-border;
    border-radius: $button-radius;
    box-shadow: 0px 10px 50px #eee;
    overflow: hidden;           // make parent div expand height when have 'float' child div in it
}

.link-button-group {
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

.team-name {
    @include text-link-button-mixin(20px, 10px, $logo-color, $logo-color, $logo-color);
    font-weight: 500;
}

.top-header {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.top-header-blank {
    width: 200px;
}

.top-header-bell {
    color: $link-text-color;
    margin-left: 5px;
    margin-right: 20px;
    font-size: 20px;
}

.top-header-item {
    @include text-link-button-mixin(16px, 15px, $link-text-color)
}

.top-search-bar-group {
    width: 200px;
}

.top-search-bar-icon {
    font-size: 12px;
}

.grid-container {
    grid-template-columns: auto auto auto auto;
    display: grid;
    justify-content: start;
}

.project-item {
    background-color: #fff;
    width: 180px;
    height: 140px;
    margin: 10px;
    text-align: center;
}

.project-item:hover {
    border: $button-border;
    border-radius: $button-radius;
}

.project-icon {
    font-size: 48px;
    color: $logo-color;
    margin-bottom: 16px;
}

.project-name {
    font-size: 18px;
    font-weight: light;
    color: #333;
}

.mission {
    font-size: 14px;
    font-weight: 350;
    margin-left: 5px;

    @include margin-vertical-mixin(10px);
}

.mission-distributor-button {
    font-size: 8px;
    width: max-content;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    border-radius: 20px;
    outline: none !important;
}

.mission-distributor-empty {
    color: #666;
    background: #fff;
    border: $button-border;
}

.mission-distributor-confirm {
    color: #666;
    background: #E7F2F2;
    border: none;
}

.mission-distributor-delay {
    color: #F13A59;
    background: #FFD8D7;
    border: none;
}

.mission-add-button {
    font-size: 14px;
    font-weight: 350;
    color: $logo-color;
    margin-top: 10px;
    margin-left: 40px;
}

.right-float-menu-normal-button {
    @include text-link-button-mixin(
	14px,
	16px,
	$right-menu-normal-button-normal-color,
	$right-menu-normal-button-hover-color,
	$right-menu-normal-button-focus-color);
}

.right-float-menu-delete-button {
    @include text-link-button-mixin(
	14px,
	16px,
	$right-menu-delete-button-normal-color,
	$right-menu-delete-button-hover-color,
	$right-menu-delete-button-focus-color);
}

.right-float-menu-parent {
    position: relative;
}

.right-float-menu-box {
    position: absolute;
    right: 0;
    width: 180px;
}

.right-float-menu {
    position: fixed;
    color: #666;
    width: 180px;
}

.right-float-menu-scrollarea {
    overflow-y: auto;
    max-height: 600px;
}

.right-float-menu-item {
    display: inline-block;
    font-size: 13px;
    font-weight: 350;
    color: #999;
    width: 80%;
    padding-bottom: 2px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.setting-icon-upload-button {
    font-size: 13px;
    font-weight: 350;
    color: $logo-color;
}

.setting-icon-upload-button > input {
    display: none;
}

.setting-icon-upload-button > label {
    font-size: 14px;
    font-weight: 350;
    cursor: pointer;
}

.text-link-button {
    font-size: 13px;
    font-weight: 350;
    color: $logo-color;
}

.mission-input-line {
    background-color: #eee;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.mission-new-submit-button {
    @include submit-button-mixin(40px);
}

.mission-new-form {
    display: none;
    margin-top: 10px;
}

.mission-edit-form {
    margin-top: 10px;
}

.edit-input {
    @include input-mixin
}

.mission-edit-submit-button {
    @include submit-button-mixin(40px);
}

.comment-edit-submit-button {
    @include submit-button-mixin(10px);
}

.mission-list-new-input {
    @include input-mixin(13px, 0px);
    margin-bottom: 10px;
}

.mission-list-new-submit-button {
    @include submit-button-mixin(0px);
}

.mission-list-new-submit-button:focus {
    color: #fff;
    background-color: $focus-color;
}

// Hide default checkbox .
input[type="checkbox"] {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

// Customize checkbox default status.
input[type="checkbox"] + label::before {
    transition: 0.2s;
    content: '\a0';
    display: inline-block;
    font-size: 14px;
    background: #fff;
    width: 20px;
    height: 20px;
    padding-left: 3px;          // padding left for content
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 5px;
    border: $button-border;
    border-radius: $check-button-radius;
}

// Customize checkbox check status.
input[type="checkbox"]:checked + label::before {
    transition: 0.2s;
    content: '✔';
    color: #fff;
    background: $logo-color;
}

// Customize checkbox disabled status.
input[type="checkbox"]:disabled + label::before {
    color: #555;
    background: gray;
    box-shadow: none;
}

.mission-title {
    font-size: 15px;
    font-weight: 350;
    margin-left: 10px;
}

.mission-title-link {
    @include text-link-button-mixin(15px, 0px, #222, $logo-color, $logo-color);
}

.mission-title-link-finished {
    @include text-link-button-mixin(15px, 0px, #aaa, $logo-color, $logo-color);
}

.mission-finish-log {
    color: #aaa;
    font-size: 15px;
    font-weight: 350;
}

.mission-big-title-link {
    @include text-link-button-mixin(16px, 0px, #222, $logo-color, $logo-color);

    font-size: 20px;
}

.fullscreen-body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

.default-background-image {
    background-size: cover;
    background-image: url("background.jpg");    /* The image used */
    background-repeat: no-repeat;
    background-position: center;    /* Center and scale the image nicely */
}

.default-background-color {
    background: $background-color;
}

#input-tooltip {
    z-index: 19999;
    display: none;
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
    box-sizing: border-box;
    position: absolute;
    font-size: 13px;
    font-weight: 350;
    color: #222;
    background: $tooltip-color;
    width: 100%;
    width: max-content;
    height: auto;
    height: 20px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px 0 0 3px;
    text-align: center;
}

#input-tooltip:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $tooltip-color;
}

.dialog-confirm-button {
    @include submit-button-mixin(5px, 0px);
}

.loading-dialog-background {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loading-dialog-spinner {
    font-size: 20px;
    margin-right: 10px
}

.loading-dialog-content {
    font-size: 18px;
}

.loading-dialog {
    display: flex;
    background: white;
    padding: 15px;
    flex-direction: row;
    margin: auto;
    border: $button-border;
    border-radius: $button-radius;
    box-shadow: 0px 3px 10px #333333;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.mission-save-input {
    @include input-mixin(15px, 0px);
}

.mission-save-button {
    @include submit-button-mixin(0px);
}

.setting-page-action {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
}

.setting-page-action-title {
    margin-top: 40px;
}

.setting-page-action-summary {
    color: #666;
    @include margin-vertical-mixin(10px);
}

.setting-page-delete-button {
    @include action-button-mixin($action-button-normal-color, $action-button-hover-color, $action-button-focus-color);
}

.setting-page-normal-button {
    @include action-button-mixin($button-color, $hover-color, $focus-color);
}

.comment-edit-button {
    display: none;
    position: absolute;
    font-size: 13px;
    font-weight: 350;
    color: #666;
    background: white;
    height: auto;
    height: 24px;
    z-index: 9999;
}

.mission-toolbar {
    filter: drop-shadow(-4px 1px 2px rgba(0, 0, 0, .3));
    box-sizing: border-box;
    display: none;
    position: absolute;
    font-size: 13px;
    font-weight: 350;
    color: #222;
    background: white;
    width: max-content;
    height: auto;
    height: 24px;
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px 0 3px 12px;
    text-align: center;
    z-index: 9999;
}

.mission-toolbar-item {
    color: #666;
    margin-left: 5px;
    margin-right: 5px;
}

.mission-list-link {
    @include text-link-button-mixin(14px, 10px, #888)
}

.margin-top-normal {
    margin-top: 24px;
}

.mission-summary {
    font-size: 16px;
    margin-left: 50px;
}

.mission-add-summary-button {
    margin-left: 50px;
}

.mission-comment-textarea {
    @include textarea-mixin(1, 10px);
}

.mission-comment-submit-button {
    @include submit-button-mixin(10px);
}

.mission-comment-splitter {
    @include splitter-mixin(#eee, 1px, 75%);
}

.mission-comment {
    @include margin-vertical-mixin(30px);
    overflow: hidden;           // make parent div expand height when have 'float' child div in it
}

.mission-comment-icon {
    width: 60px;
    display: inline-block;
    margin-bottom: 30px;
}

.mission-comment-edit-icon {
    width: 48px;
    display: inline-block;
    margin-top: 10px;
}

.mission-comment-user {
    display: inline;
    font-weight: 800;
}

.mission-comment-date {
    display: inline;
    font-size: 10px;
    color: #666;
    margin-left: 2px;
}

.mission-comment-content {
    font-size: 16px;
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 30px;
}

.arrow-menu {
    @include arrow-menu-mixin(
	$menu-color,
	$menu-color,
	calc(50% - 10px)
    );
}

.mission-distributor-menu {
    @include arrow-menu-mixin(
	$menu-color,
	$menu-color,
	calc(20% - 10px),
	left,
	9999,
	false
    );
}

.mission-distributor-menu-item-title {
    @include arrow-menu-item-mixin(0px, false);

    font-size: 15px;
}

.mission-distributor-menu-item {
    @include arrow-menu-item-mixin(0px, false);
}

.mission-distributor-input-group {
    width: 220px;
}

.arrow-menu-item {
    @include arrow-menu-item-mixin
}

.arrow-menu-item-text {
    @include text-link-button-mixin(13px, 0px, #222, $logo-color, $logo-color);
}

.menu-eventarea {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -9999;
}

.comment-edit-form-wrap {
    display: flex;
    height: 100%;
    align-items: top;
}

.comment-edit-textarea {
    @include textarea-mixin(150px, 10px);
}

.page-title {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 30px;
}

.member-count {
    display: inline-block;
    font-size: 15px;
    color: #666;
    margin-left: 10px;
}

.member-item {
    height: 80px;
    border-top: 1px solid #eee;
}

.member-item-icon {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
}

.member-item-name {
    display: inline-block;
    width: 300px;
}

.member-item-name-button {
    @include text-link-button-mixin(18px, 0px, black)
}

.member-item-email {
    display: inline-block;
    font-size: 16px;
    color: #666;
    margin-right: auto;
}

.member-invite-button {
    margin-top: 20px;
}

.add-link-button {
    font-size: 14px;
    font-weight: 350;
    color: $logo-color;
}

.margin-vertical-15px {
    @include margin-vertical-mixin(15px);
}

.invite-title {
    margin-bottom: 40px;
    margin-left: 10px;
}

.invite-link-button {
    margin-left: 10px;
}

.invite-submit-button {
    @include submit-button-mixin(10px);
}

@mixin member-type-mixin($color) {
    display: inline-block;
    font-size: 13px;
    color: $color;
    width: 200px;
    margin-left: 5px;
}

.member-type-super-admin {
    @include member-type-mixin(orange);
}

.member-type-admin {
    @include member-type-mixin(#666);
}

.member-type-member {
    @include member-type-mixin(#666);
}

.setting-icon {
    display: inline-block;
    text-align: right;
    margin-right: 16px;
    width: 60px;
}

.setting-entry {
    display: inline-block;
    border: $button-border;
    border-radius: $button-radius;
    height: 32px;
    padding: 10px;
}

.setting-segment-title {
    font-size: 16px;
    color: #666;
    margin-right: 16px;
    display: inline-block;
    text-align: right;
    width: 60px;
}

.setting-description {
    color: #666;
}

.member-icon {
    display: inline-block;
    font-size: 50px;
    justify-content: center;
}

.member-name-and-email {
    display: inline-block;
    margin-left: 20px;
}

.member-name {
    font-size: 30px;
    font-weight: 350;
}

.member-email {
    color: #666;
}

.splitter {
    @include splitter-mixin;
}

.setting-page-delete-link {
    @include text-link-button-mixin(14px, 0px, $action-button-normal-color, $action-button-hover-color, $action-button-focus-color);
}

.top-header-menu {
    @include arrow-menu-mixin(
	linear-gradient(rgb(245, 245, 245) 82px, $menu-color 82px, $menu-color 100%),
	rgb(245, 245, 245),
	calc(90% - 10px),
	center,
	10000
    );
}

.top-header-menu-button {
    font-size: 10px;
    margin: 0;
    margin-left: 5px;
}

.personal_page_header {
    margin-top: 20px;
    margin-bottom: 30px;
}

.personal_page_info {
    margin-left: 20px;
}

.personal_page_username {
    font-size: 24px;
}

.personal_page_email {
    font-size: 16px;
    color: #666;
}

.top-header-menu-user-name {
    font-size: 18px;
}

.top-header-menu-email {
    font-size: 14px;
    color: #666;
}

.top-header-menu-item {
    @include arrow-menu-item-mixin(10px);
}

.top-header-menu-item-no-hover {
    @include arrow-menu-item-mixin(10px, false);
}

.top-header-menu-item-title {
    @include menu-item-mixin(16px, $logo-color);
}

.top-header-menu-item-text {
    @include menu-item-mixin(14px, #666);
}

.top-header-menu-item-button {
    @include menu-item-mixin(14px, $logo-color);
}

// Phone page CSS.
.phone-input-group {
    background-color: #fff;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.05);

    @include margin-vertical-mixin(5px);
}

.phone-input-title {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.phone-input-area {
    font-size: 16px;
    border: none;
}

.phone-input-area:focus {
    outline: none;
}

.phone-page-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0;
}

.phone-page-scroll-area {
    overflow-y: scroll;
    background-color: rgba(252, 252, 252, 255);
    width: 100%;
    height: calc(100% - $phone-page-top-bar-height - $phone-page-bottom-bar-height);
    float: left;
    margin-top: $phone-page-top-bar-height;
}

.phone-page-top-bar {
    position: absolute;
    background-color: $logo-color;
    top: 0;
    width: 100%;
    height: $phone-page-top-bar-height;
    box-shadow: 0 -3px 4px 4px $top-bar-shadow;
}

.phone-page-bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $phone-page-bottom-bar-height;
    box-shadow: 0 3px 4px 4px $bottom-bar-shadow;
}

.phone-project-item-box {
    background-color: #fff;
    height: 54px;
    border-bottom: 1px solid #eee;
}

.phone-project-icon {
    font-size: 32px;
    color: $logo-color;
    margin-left: 24px;
    margin-right: 18px;
}

.phone-project-item-name {
    font-size: 18px;
    font-weight: light;
    color: #333;
}

.phone-project-item-handle {
    font-size: 20px;
    color: #ddd;
    margin-left: 20px;
    margin-right: 20px;
}

.phone-top-name {
    font-size: 18px;
    font-weight: bold;
    color: $logo-text-color;
    padding-top: 6px;
    padding-left: 24px;
}

.phone-text-button {
    font-size: 18px;
    font-weight: bold;
    color: $logo-text-color;
    padding-right: 24px;
}

.phone-top-title {
    font-size: 18px;
    font-weight: bold;
    color: $logo-text-color;
    padding-top: 6px;
}

.phone-top-item-icon {
    font-size: 18px;
    color: $logo-text-color;
    padding-left: 24px;
    padding-right: 24px;
}

.phone-bottom-tab {
    text-align: center;
}

.mission-list-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 40px;
}

.mission-member-menu {
    @include menu-mixin(
        $menu-color,
	left,
        19999,
    );
}

.mission-member-menu-item {
    @include arrow-menu-item-mixin
}

.mission-member-pinyin {
    display: none;
}

.mission-member-userid {
    display: none;
}

.avatar {
    clip-path: circle(50% at 50% 50%);
}

.user-missions-area {
    margin-top: 30px;
    margin-bottom: 30px;
}

.buttons-middle-blank {
    display: inline-block;
    width: 8px;
}

.activity-item {
    height: max-content;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.activity-time {
    color: #888;
    font-size: 12px;
    margin-left: 40px;
}

.activity-user {
    font-weight: 800;
}

.activity-avatar {
    margin-left: 10px;
    margin-right: 10px;
}

.activity-project-line {
    @include text-link-button-mixin(20px, 0px, #666, $logo-color, $logo-color);

    margin-left: 20px;
}

.activity-day-line {
    color: $logo-color;
    font-size: 20px;
    margin-top: 40px;
}

.activity-comment {
    margin-top: 10px;
    color: #666;
}

activity-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

activity-line:before {
    background: #eee;
    height: 1px;
    flex: 1;
    content: '';
}

.notification-menu {
    @include arrow-menu-mixin(
	linear-gradient($menu-color 150px, rgb(245, 245, 245) 150px, rgb(245, 245, 245) 100%),
	$menu-color,
	calc(90% - 80px),
	center,
	10000
    );

    width: 400px;
    height: 200px;
}

.notification-menu-title {
    font-weight: 500;
    font-size: 15px;

    float: left;
}

.notification-menu-content {
    height: 75px;
    font-size: 18px;
    padding-top: 20px;
    color: #666;
}

.notification-menu-icon {
    font-size: 14px;
    margin-right: 3px;
}

.notification-menu-button-link {
    @include text-link-button-mixin(14px, 0px, #222, $logo-color, $logo-color);
}
