@import "bootstrap-sprockets";
@import "bootstrap";
:root {
    // Color variables.
    --background-color: #f4f7ed;
    --button-color: #3ccefd;
    --focus-color: #3cbefd;
    --hover-color: #3cbefd;
    --link-text-color: #aaa;
    --logo-color: #5bc4c7;
    --logo-text-color: #fff;
    --phone-bottom-text-color: #666;
    --phone-page-bottom-bar-height: 54px;
    --phone-page-top-bar-height: 54px;
}

// Home page CSS.
.home-background {
    /* The image used */
    background-image: url("background.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-logo {
    color: var(--logo-text-color);
    font-size: 600%;
    font-weight: bold;
    opacity: 0.9;
}

.solgan {
    color: var(--logo-text-color);
    font-size: 260%;
    font-weight: bold;
    margin-bottom: 140px;
    opacity: 0.9;
}

// Single page CSS.
.single-page-body,
.single-page-html {
    height: 100%;
}

.single-page-background {
    background-color: var(--background-color);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sign-title {
    margin-bottom: 20px;
}

.sign-button {
    margin-top: 20px;
}

.sign-box {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 50px #eeeeee;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.sign-error {
    width: 256px;
}

.sign-link {
    color: var(--link-text-color);
    font-size: 12px;
}

.sign-link:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.sign-link:active,
.sign-link:active:hover,
.sign-link:active:focus,
.sign-link:focus {
    color: var(--focus-color);
}

.no-underline-link:hover {
    text-decoration: none;
}

// Generic page CSS.
.remove-submit-btn-style {
    background: none;
    border: none;
    outline: none;
}

a:link {
    text-decoration: none;
}

.alert {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0;
}

.flex-vcenter {
    align-items: center;
    display: flex;
    height: 100%;
}

.flex-vcenter-columns {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.flex-column-center {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.flex-align-right {
    margin-left: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.logo {
    color: var(--logo-color);
    font-size: 450%;
    font-weight: bold;
    margin-bottom: 40px;
}

.click-button {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 256px;
}

.submit-button {
    width: 80px;
}

.submit-cancel-link {
    color: var(--link-text-color);
    font-size: 16px;
    margin-left: 16px;
}

.submit-cancel-link:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.submit-cancel-link:active,
.submit-cancel-link:active:hover,
.submit-cancel-link:active:focus,
.submit-cancel-link:focus {
    color: var(--focus-color);
}

.btn {
    box-shadow: none !important;
    outline: none !important;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
}

.btn-primary:hover {
    background: var(--hover-color);
    border-color: var(--hover-color);
    color: rgba(255, 255, 255, 0.9);
}

.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:focus {
    background: var(--focus-color);
    border-color: var(--focus-color);
    color: rgba(255, 255, 255, 0.9);
}

.btn-link {
    color: var(--logo-text-color);
    font-size: 16px;
}

.btn-link:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.btn-link:active,
.btn-link:active:hover,
.btn-link:active:focus,
.btn-link:focus {
    color: var(--focus-color);
}

.form-control:focus {
    -webkit-box-shadow: none;
    border-color: var(--focus-color);
    box-shadow: none;
}

.form-check-label {
    color: var(--link-text-color);
    font-size: 12px;
    font-weight: normal;
}

// Desktop page CSS.
.content-page-body {
    background-color: var(--background-color);
}

.card-title {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 900;
}

.card-summary {
    resize: none;
}

.top-bar-box {
    background-color: rgba(250, 250, 250, 1);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-style: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 10px 50px #eee;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 880px;
    overflow: hidden;		// make parent div expand height when have 'float' child div in it
    cursor: pointer;
    font-size: 18px;
    color: #999;
}

.top-bar-box:hover {
    background-color: #fff;
}

.submit-area {
    margin-top: 24px;
}

.project-box {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 50px #eee;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    width: 900px;
    overflow: hidden;		// make parent div expand height when have 'float' child div in it
}

.project-button-group {
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

.project-button {
    color: #666;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.project-button:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.project-button:active,
.project-button:active:hover,
.project-button:active:focus,
.project-button:focus {
    color: var(--focus-color);
}

.team-name {
    color: var(--logo-color);
    font-size: 20px;
    font-weight: 500;
}

.team-name:hover {
    color: var(--logo-color);
    text-decoration: none;
}

.team-name:active,
.team-name:active:hover,
.team-name:active:focus,
.team-name:focus {
    color: var(--logo-color);
}

.top-header {
    width: 990px;
}

.top-header-item {
    color: var(--link-text-color);
    font-size: 16px;
}

.top-header-item:hover {
    color: var(--link-text-color);
    text-decoration: none;
}

.top-header-item:active,
.top-header-item:active:hover,
.top-header-item:active:focus,
.top-header-item:focus {
    color: var(--link-text-color);
}

.top-header-search {
    background-color: var(--background-color);
    height: 24px;
    margin-top: 15px;
    text-align: center;
}

.top-search-bar-group {
    margin-top: 3px;
    width: 200px;
}

.top-search-bar-input {
    background-color: var(--background-color);
}

.top-search-bar-button {
    background-color: var(--background-color);
}

.top-search-bar-icon {
    font-size: 12px;
}

.project-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.project-item {
    background-color: #fff;
    height: 140px;
    margin: 10px;
    text-align: center;
    width: 180px;
}

.project-item:hover {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.project-icon {
    color: var(--logo-color);
    font-size: 48px;
    margin-bottom: 16px;
}

.project-name {
    color: #333;
    font-size: 18px;
    font-weight: light;
}

// Phone page CSS.
.phone-input-group {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.phone-input-title {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}

.phone-input-area {
    border: none;
    font-size: 16px;
}

.phone-input-area:focus {
    outline: none;
}

.phone-page-box {
    height: 100%;
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
}

.phone-page-scroll-area {
    float: left;
    height: calc(100% - var(--phone-page-top-bar-height) - var(--phone-page-bottom-bar-height));
    margin-top: var(--phone-page-top-bar-height);
    overflow-y: scroll;
    width: 100%;
    background-color: rgba(252, 252, 252, 255);
}

.phone-page-top-bar {
    background-color: var(--logo-color);
    height: var(--phone-page-top-bar-height);
    position: absolute;
    top: 0;
    width: 100%;
}

.phone-page-bottom-bar {
    bottom: 0;
    height: var(--phone-page-bottom-bar-height);
    position: absolute;
    width: 100%;
}

.phone-project-item-box {
    border-bottom: 1px solid #eee;
    height: 54px;
    background-color: #fff;
}

.phone-project-icon {
    color: var(--logo-color);
    font-size: 32px;
    margin-left: 24px;
    margin-right: 18px;
}

.phone-project-item-name {
    color: #333;
    font-size: 18px;
    font-weight: light;
}

.phone-project-item-handle {
    color: #ddd;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.phone-top-name {
    color: var(--logo-text-color);
    font-size: 18px;
    font-weight: bold;
    padding-left: 24px;
    padding-top: 6px;
}

.phone-text-button {
    color: var(--logo-text-color);
    font-size: 18px;
    font-weight: bold;
    padding-right: 24px;
}

.phone-top-title {
    color: var(--logo-text-color);
    font-size: 18px;
    font-weight: bold;
    padding-top: 6px;
}

.phone-top-item-icon {
    color: var(--logo-text-color);
    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;
}

.phone-bottom-tab {
    text-align: center;
}
