<li>
  <input type="checkbox" id=<%= mission.hashid %>>
  <label for=<%= mission.hashid %> class="mission-title">
    <a href="#" class="mission-title-link">
      <%= mission.name %>
    </a>
  </label>
  <button type="button" class="btn mission-distributor">未指派</button>
</li>
