<div class="modal fade" id="confirm-dialog" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">
          <%= message %>
        </h4>
      </div>
      <div class="modal-footer">
        <div class="flex-vcenter">
          <button
              type="button"
              class="btn-sm dialog-confirm-button float-left"
	      data-controller=<%= controller %>
              data-action=<%= action %>>
            确定
          </button>
          <a href="#"
             class="link-button-small float-left">
            取消
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
