<div id="loading-dialog">
  <div class="loading-dialog-background">
    <div class="flex-hcenter">
      <div class="loading-dialog">
        <div class="loading-dialog-spinner glyphicon glyphicon-refresh glyphicon-refresh-animate"></div>
        <div class="loading-dialog-content">
	  <%= message %>
	</div>
      </div>
    </div>
  </div>
</div>
