<div class="mission-toolbar"
     data-controller="mission"
     data-action="mouseleave->mission#mouseLeaveMissionToolbar">
  <% if team_administrator? %>
    <a href="#"
       class="mission-toolbar-item glyphicon glyphicon-trash"
       data-action="mission#clickDeleteMissionButton"></a>
  <% end %>
  <a href="#"
     class="mission-toolbar-item glyphicon glyphicon-pencil"
     data-action="mission#clickEditMissionButton"></a>
</div>
