<div class="mission-toolbar"
     data-controller="mission"
     data-action="mouseleave->mission#mouseLeaveMissionToolbar">
  <a href="#"
     class="mission-toolbar-item glyphicon glyphicon-trash"
     data-action="mission#clickDeleteMissionButton"></a>
  <a href="#"
     class="mission-toolbar-item glyphicon glyphicon-pencil"
     data-action="mission#clickEditMissionButton"></a>
</div>
