<div class="mission-toolbar"
     data-controller="mission"
     data-action="mouseleave->mission#mouseLeaveMissionToolbar">
  <% if team_administrator? %>
    <a href="#"
       class="mission-toolbar-item glyphicon glyphicon-trash"
       <% if local_assigns.has_key? :delete_dialog %>
       data-toggle="modal"
       data-target="<%= delete_dialog %>"
       <% else %>
       data-action="mission#clickDeleteMissionButton"
       <% end %> >
    </a>
  <% end %>
  <a href="#"
     class="mission-toolbar-item glyphicon glyphicon-pencil"
     <% if local_assigns.has_key? :edit_action %>
     data-action="<%= edit_action %>"
     <% else %>
     data-action="mission#clickEditMissionButton"
     <% end %> >
  </a>
</div>
