<div class="mission-toolbar"
     data-controller="mission"
     data-action="mouseleave->mission#mouseLeaveMissionToolbar">
  <% if team_administrator? %>
    <a href="#"
       class="mission-toolbar-item glyphicon glyphicon-trash"
       data-dialog-id="<%= dialog_id %>"
       data-action="mission#clickDeleteMissionButton" >
    </a>
  <% end %>
  <a href="#"
     class="mission-toolbar-item glyphicon glyphicon-pencil"
     <% if local_assigns.has_key? :edit_action %>
     data-action="<%= edit_action %>"
     <% else %>
     data-action="mission#clickEditMissionButton"
     <% end %> >
  </a>
</div>
