<div class="right-float-menu-box">
  <div class="right-float-menu"
       <% if local_assigns.has_key? :controller %>
       data-controller="<%= controller %>"
       <% else %>
       data-controller="mission"
       <% end %>
       data-target="rightfloatmenu.rightMenuArea"
    data-action="scroll@window->rightfloatmenu#onScroll">
    <ul class="right-float-menu-scrollarea">
      <li class="right-float-menu-item">
        <a href="#"
           class="right-float-menu-normal-button"
           data-action="<%= edit_action %>">
          编辑
        </a>
      </li>
      <% if team_administrator? %>
        <li class="right-float-menu-item">
	  <a href="#"
             class="right-float-menu-delete-button"
             data-toggle="modal"
             data-target="#confirm-dialog">
            删除
	  </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
